/* CSS for map container */
html,
body,
#map-id {
  height: 100%;
  padding: 0;
  margin: 0;
}

/* CSS for legend */
.info.legend {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.legend-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
